Flask
# PythonからPostgreSQLへ接続するためのライブラリ
psycopg[binary]
SQLAlchemy
# 3000番ポートの Web ページから 5001番ポートのサーバへのアクセスを許可する
Flask-Cors
flask-smorest
sphinx
# sphinx theme
furo
# fastapi
fastapi
uvicorn[standard]
# Form() や File() を使う場合、FastAPIは python-multipart を必要とする
python-multipart